/* The switch - the box around the slider */
body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 375px;
}

h2, h3, p {
  color: darkorange;
}

button {
  background-color: gray;
  color: black;
  font-weight: bold;
  height: 30px;
  border: 1px solid darkorange;
}

.favcolor {
  color: darkorange;
  vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  vertical-align: middle;
}

.control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkorange;
  margin: 8px 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: firebrick;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}